<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Test <%= @text %></h1>
  <ul>
    <%= for x <- @iterasi do %>
    <li>B: <%= x.name %></li>
    <% end %>
  </ul>
  <h3>Yoo huu</h3>

</body>
</html>
